
h1 {
    font-size:60px;
    font-family:courier;
    text-align:center;
    color:white;
}


p {
    font-family:courier;
    color:white;
    font-size:16px;
    text-align:center;

}

/* Box*/
textarea{
    background:#00FF41;
    text-align:center;
    /*Specifying the dimensions */
    width: 600px;
    height: 25px;
    
    /**/
    display:inline-block;
}

button {
    font-family:courier;
    font-size:15px;
    text-align:center;
    display: inline;
    margin:0 auto;
    width: 196px;
    justify-content:center;

}
    

